@import 'common.css';

body {
  font-family: sans-serif;
  color: var(--font-color);
  background-color: black;
}

.App {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.board {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px 40px;
  border-radius: 50px;
  position: relative;
}

.grid {
  cursor: pointer;
}

.row {
  display: flex;
}

.button {
  border-radius: 10px;
  margin: 3px;
  cursor: pointer;
  font-size: 1.5em;
  color: var(--font-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:focus {
  outline: none;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: black;
  user-select: none;
}

.help-button {
  font-size: 100%;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 30px;
}

.button.disabled, .button.disabled:hover {
  cursor: auto;
  color: var(--border-color);
  background-color: var(--background-color);
  border-color: var(--border-color);
}