@import 'common.css';

footer {
    color: var(--border-color);
    text-align: center;
    margin-top: 10px;
}
  
footer a {
    color: var(--main-text-color);
}
  
footer a:visited {
    color: var(--main-text-color);
}