@import 'common.css';

header {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: var(--header-font-size);
    text-align: center;
}

header a, header a:visited {
    text-decoration: none;
    color: var(--font-color);
}