@import 'common.css';

.modal {
    width: calc(var(--cell-size) * 9);
    max-width: calc(var(--max-cell-size) * 9);
    margin: 100px auto;
    background-color: var(--background-color);
    outline: none;
    border-radius: 25px;
    padding: 30px;
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-overlay-color);
}
  
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
  
.ReactModal__Overlay--after-open{
    opacity: 1;
}
  
.ReactModal__Overlay--before-close{
    opacity: 0;
}