:root {
  --cell-size: 8vw;
  --max-cell-size: 60px;
  --light-border-width: 1px;
  --light-border: solid var(--light-border-width) var(--border-color);
  --heavy-border-width: 3px;
  --heavy-border: solid var(--heavy-border-width) var(--border-color);
  --cell-value-font-size: 40px;
  --font-color: rgb(255, 255, 255);
  --border-color: rgba(150, 150, 150);
  --background-color: #121212;
  --selected-cell-color: rgba(1, 135, 134, 0.6);
  --warning-color: #cf6679;
  --primary-color: #03dac6;
  --modal-overlay-color: rgba(50, 50, 50, 0.7);
}

body {
  font-family: sans-serif;
  color: var(--font-color);
  background-color: black;
}

.App {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0px;
  font-size: 2em;
  text-align: center;
}

header a, header a:visited {
  text-decoration: none;
  color: var(--font-color);
}

.game {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px 40px;
  border-radius: 50px;
  position: relative;
}

.grid {
  cursor: pointer;
}

.row {
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  max-width: var(--max-cell-size);
  max-height: var(--max-cell-size);
  border-right: var(--light-border);
  border-bottom: var(--light-border);
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  display: flex;
  align-items: center;
}

.cell-thick-upper-border {
  border-top: var(--heavy-border);
}

.cell-thick-right-border {
  border-right: var(--heavy-border);
}

.cell-thick-left-border {
  border-left: var(--heavy-border);
}

.cell-thick-lower-border {
  border-bottom: var(--heavy-border);
}

.cell-value {
  font-size: var(--cell-value-font-size);
  text-align: center;
  width: 60px;
}

.cell-selected {
  background-color: var(--selected-cell-color);
}

.creation-puzzle-feedback {
  height: 30px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.creation-puzzle-feedback-bad {
  background-color: var(--warning-color);
}

.creation-puzzle-feedback-good {
  background-color: var(--primary-color);
}

.control-board {
  margin-top: 15px;
}

.control-row {
  display: flex;
  justify-content: space-between;
  width: calc(var(--cell-size) * 9 + var(--light-border-width) * 6 + var(--heavy-border-width) * 4);
  max-width: calc(var(--max-cell-size) * 9 + var(--light-border-width) * 6 + var(--heavy-border-width) * 4);
}

.control-button {
  height: var(--cell-size);
  max-height: var(--max-cell-size);
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 3px;
  cursor: pointer;
  font-size: 1.5em;
  color: var(--font-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-button {
  font-size: 100%;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--font-color);
  border: var(--light-border);
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
}

.control-button:focus, .help-button:focus {
  outline: none;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.control-button:hover, .help-button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: black;
  user-select: none;
}

.disabled, .disabled:hover {
  cursor: auto;
  color: var(--border-color);
  background-color: var(--background-color);
  border-color: var(--border-color);
}

.modal {
  width: calc(var(--cell-size) * 9);
  max-width: calc(var(--max-cell-size) * 9);
  margin: 100px auto;
  background-color: var(--background-color);
  outline: none;
  border-radius: 25px;
  padding: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-overlay-color);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.keyboard-shortcut-modal {
  text-align: center;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

kbd {
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 2px;
}

table {
  border-collapse: collapse;
  text-align: left;
}

th, td {
  border: 1px solid var(--border-color);
  padding: 10px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 650px;
}

.home-page p {
  margin: 10px 0px;
  line-height: 1.3em;
}

.home-page a, .home-page a:visited {
  color: var(--primary-color);
}

.home-page a.control-button {
  color: white;
}

.home-page a.control-button:hover {
  color: black;
}

.footnote {
  color: var(--border-color);
  font-size: 0.75em;
}

.explanation {
  background-color: var(--background-color);
  padding: 20px 40px;
  border-radius: 50px;
}