:root {
  --cell-size: 8vw;
  --max-cell-size: 60px;
  --border-color: black;
  --light-border-width: 1px;
  --light-border: solid var(--light-border-width) var(--border-color);
  --heavy-border-width: 3px;
  --heavy-border: solid var(--heavy-border-width) var(--border-color);
  --cell-value-font-size: 40px;
  --selected-cell-color: rgba(255, 255, 0, 0.445);
  --button-color: #428bca;
  --warning-color: #d9534f;
  --success-color: #5cb85c;
}

body {
  font-family: sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  cursor: pointer;
}

.row {
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  max-width: var(--max-cell-size);
  max-height: var(--max-cell-size);
  border-right: var(--light-border);
  border-bottom: var(--light-border);
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  display: flex;
  align-items: center;
}

.cell-thick-upper-border {
  border-top: var(--heavy-border);
}

.cell-thick-right-border {
  border-right: var(--heavy-border);
}

.cell-thick-left-border {
  border-left: var(--heavy-border);
}

.cell-thick-lower-border {
  border-bottom: var(--heavy-border);
}

.cell-value {
  font-size: var(--cell-value-font-size);
  text-align: center;
  width: 60px;
}

.cell-selected {
  background-color: var(--selected-cell-color);
}

.creation-puzzle-feedback {
  height: 30px;
  margin-bottom: 15px;
  padding:20px;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 30px;
}

.creation-puzzle-feedback-bad {
  background-color: var(--warning-color);
}

.creation-puzzle-feedback-good {
  background-color: var(--success-color);
}

.control-board {
  margin-top: 15px;
}

.control-row {
  display: flex;
  justify-content: space-between;
  width: calc(var(--cell-size) * 9 + var(--light-border-width) * 6 + var(--heavy-border-width) * 4);
  max-width: calc(var(--max-cell-size) * 9 + var(--light-border-width) * 6 + var(--heavy-border-width) * 4);
}

.control-button {
  height: var(--cell-size);
  max-height: var(--max-cell-size);
  border-radius: 10px;
  border: none;
  margin: 3px;
  cursor: pointer;
  font-size: 1.5em;
}

.control-button:hover {
  background-color: var(--button-color);
}

.control-button:focus {
  outline: none;
  border: 1px solid var(--button-color);
}

.control-button.one-square {
  width: var(--cell-size);
  max-width: var(--max-cell-size);
}

.control-button.three-squares {
  width: calc(var(--cell-size) * 3);
  max-width: calc(var(--max-cell-size) * 3);
}

