:root {
  --cell-size: 8vw;
  --max-cell-size: 60px;
  --border-color: black;
  --light-border: solid 1px var(--border-color);
  --heavy-border: solid 3px var(--border-color);
  --cell-value-font-size: 40px;
  --selected-cell-color: yellow;
}

.grid {
  cursor: pointer;
}

.row {
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  max-width: var(--max-cell-size);
  max-height: var(--max-cell-size);
  border-right: var(--light-border);
  border-bottom: var(--light-border);
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  display: flex;
  align-items: center;
}

.cell-thick-upper-border {
  border-top: var(--heavy-border);
}

.cell-thick-right-border {
  border-right: var(--heavy-border);
}

.cell-thick-left-border {
  border-left: var(--heavy-border);
}

.cell-thick-lower-border {
  border-bottom: var(--heavy-border);
}

.cell-value {
  font-size: var(--cell-value-font-size);
  text-align: center;
  width: 60px;
}

.cell-selected {
  background-color: var(--selected-cell-color);
}
